import(formattable, msigdbr, WriteXLS, visNetwork)
import(igraph, except = normalize)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "rect", "text")
importFrom("stats", "as.dist", "p.adjust", "pnorm")
importFrom("utils", "citation", "read.delim", "write.table")
export(massiveGST, cut_by_significance, cut_by_logit2NES, cut_by_NES)
export(get_geneSets_from_local_files, get_geneProfile, get_geneSets_from_msigdbr, write_geneSets_to_gmt)
export(save_as_tsv, write_geneSets_to_gmt, save_as_xls)
S3method(summary,  mGST)
S3method(plot,  mGST)
S3method(print,  mGST)
